

html{
  font-size: $base-font-size;
  width: 100%;
  height: 100%;
}


body{
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

header{
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img{
  height: 220px;
  width: 220px;
}

h1{
  font-family: "opensans-light";
  color: white;
  font-size: $base-font-size;
  margin: 20px 0;
}

select{
  border-radius: 30px;
}

.news-stories{
  display: flex;
  flex-wrap: wrap;  
    a{
      color: white;
      flex: 1 0 100%;
      max-width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      height: 420px;
    }
}

footer{
  height: 20%;
  display: flex;
  justify-content: center;
}

h2{
  font-family: "opensans-bold";
  color: $medium-grey;
  font-size: 1rem;
  height: 100%;
}