@font-face{
font-family: opensans-bold;
src: url("../lib/fonts/OpenSans-Bold.ttf");
font-weight: bold;
font-style: normal;
}
@font-face{
font-family: opensans-bolditalic;
src: url("../lib/fonts/OpenSans-BoldItalic.ttf");
font-weight: bold;
font-style: italic;
}
@font-face{
font-family: opensans-light;
src: url("../lib/fonts/OpenSans-Light.ttf");
font-weight: lighter;
font-style: normal;
}
@font-face{
font-family: opensans-lightitalic;
src: url("../lib/fonts/OpenSans-LightItalic.ttf");
font-weight: lighter;
font-style: italic;
}